.form__button {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    padding: 0;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    background: black;
}

.form__button:hover {
    opacity: 0.6;
}
