@import url(__copyright/footer__copyright.css);
.footer {
    padding: 68px 0 60px;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
}

@media screen and (max-width: 919px) {
    .footer {
        max-width: 580px;
    }
}

@media screen and (max-width: 619px) {
    .footer {
        max-width: 280px;
    }
}

@media screen and (max-width: 375px) {
    .footer {
        padding: 48px 0 36px;
    }
}
