.form__input {
  color: white;
  font-size: 14px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  padding: 8px 4px;
  /*outline: none;*/
  background-color: transparent;
}
